[Log]
Level = 'warn'

[WebServer]
AllowOrigins = '\*'
SecureCookies = false

[WebServer.TLS]
HTTPSPort = 0

[[EVM]]
ChainID = '{{.CHAIN_ID}}'

[[EVM.Nodes]]
Name = '{{.NAME}}'
WSURL = '{{.WS_URL}}'
HTTPURL = '{{.HTTP_URL}}'
