[Password]
# this password should not be changed since it's how the encrypted_key_rings
# values from seed_users.sql have been generated
Keystore = 'mysecretkeystorepassword'

[Database]
URL = 'postgresql://{{.PG_USER}}:{{.PG_PASSWORD}}@{{.HOST}}:{{.PORT}}/{{.DATABASE}}?sslmode=disable'
